.tilted-gradient-bar {
  width: 100%;
  height: 40px;
  background: linear-gradient(90deg, #f7c977 0%, #f7b977 25%, #e48c5e 75%, #FF69B4 100%);
  transform: skewY(-4deg);
  margin-top: -40px;
  z-index: 100;
  box-shadow: 0 2px 8px rgba(228,140,94,0.08);
  @media (max-width: 900px) {
    height: 28px;
    margin-top: -350px;
    z-index: -1;
  }
} 