.hero-container {
  position: relative;
  z-index: 1;
}

.hero-section-grid {
  display: grid;
  grid-template-columns: 420px 1fr;
  gap: 48px;
  align-items: center;
  width: 100%;
  max-width: 1136px;
  margin: 0 auto;
  padding: 0 2rem;
  position: relative;
  z-index: 0;
  grid-template-rows: auto auto;

  .hero-images {
    grid-column: 1;
    grid-row: 1 / span 2;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    max-height: 450px;
    overflow: hidden;
    .animated-columns {
      height: 100%;
      margin: 0;
    }
  }
  .hero-content {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    z-index: 2;
    padding-top: 0;
    margin-top: 0;
    h1 {
      font-size: 2.7rem;
      font-weight: 500;
      color: #222;
      line-height: 1.18;
      text-align: left;
      .highlight {
        color: #00bcd4;
      }
    }
    p {
      margin-top: 0.9rem;
      font-size: 1.22rem;
      color: #666;
      font-weight: 500;
      margin-bottom: 1.5rem;
      text-align: left;
    }
  }
  .search-bar {
    grid-column: 1 / span 2;
    grid-row: 2;
    margin: -150px auto 0 auto;
    display: flex;
    width: 100%;
    position: relative;
    z-index: 3;
    justify-content: center;
  }
  @media (max-width: 900px) {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0 0.7rem;
    height: auto;
    z-index: 2;

    .hero-content {
      order: 0;
      margin-left: 0;
      align-items: flex-start;
      padding-top: 0;
      margin-top: 0;
      h1, p {
        text-align: left;
        width: 100%;
      }
    }

    .search-bar {
      margin: 0 auto;
      max-width: 90%;
      width: 100%;
      z-index: 3;
      order: 1;
    }

    .hero-images {
      width: 100vw;
      margin: 0;
      overflow-x: auto;
      display: flex;
      flex-direction: row;
      gap: 0.7rem;
      align-items: flex-start;
      order: 2;
      position: relative;
      z-index: 2;
      min-height: 200px;

      .animated-columns {
        display: flex;
        flex-direction: row;
        gap: 0.7rem;
        width: auto;
        height: 180px;
        .column {
          flex-direction: row;
          width: auto;
          height: 180px;
          gap: 0.7rem;
        }
        .animated-img {
          width: 160px;
          height: 160px;
          margin-bottom: 0;
          animation: moveLeft 12s linear infinite;
        }
        .col1, .col2 {
          animation: moveLeft 12s linear infinite;
        }
        @keyframes moveLeft {
          0% { transform: translateX(120%); }
          100% { transform: translateX(-120%); }
        }
      }
    }
  }
}

.hero-experts {
  color: #222;
  font-weight: 500;
} 